################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02_Aspnet_Core/basics/.vs
/basics/.vs
/bookDemo/.vs/bookDemo
/bookDemo/.vs/ProjectEvaluation
/.vs/aspnet-core-web-api-training/v17
/.vs
/bsStoreApp/.vs/bsStoreApp/v17
/bsStoreApp/.vs/bsStoreApp
/bsStoreApp/.vs/ProjectEvaluation
