################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02_Aspnet_Core/basics/.vs
/basics/.vs
/bookDemo/.vs/bookDemo
